output_folder           ../results/OPT_1_3/2-FlashNeuron-ssd6_4-pcie32
is_simulation           1



is_senet                1
batch_size              2
input_H                 224
input_W                 224
num_iteration           2
num_threads             128

nn_model_input_file     ../frontend/Nets/OPT_1_3.txt
orig_kernel_time_file   ../results/OPT_1_3/cudnn2.txt
pf_kernel_time_file     ../results/OPT_1_3/cudnn2PF.txt
input_pf_kernel_time_file ../results/OPT_1_3/cudnn2InputPF.txt
workspace_size_file       ../results/OPT_1_3/cudnn2Workspace.txt
stat_output_file        sim_result
is_UVM                  1
use_prefetch            1
eviction_policy         LRU
migration_policy        FLASHNEURON

system_latency_us       45

CPU_PCIe_bandwidth_GBps 32
CPU_memory_line_GB      0

GPU_memory_size_GB      24
GPU_frequency_GHz       2.5
GPU_PCIe_bandwidth_GBps 32
GPU_malloc_uspB         0.000000814
GPU_free_uspB           0

SSD_PCIe_bandwidth_GBps 6.4
SSD_read_latency_us     12
SSD_write_latency_us    16
SSD_latency_us          20

PCIe_latency_us         5
PCIe_batch_size_page    50

delta_parameter         0.5


